{% extends 'layout.twig' %}

{% block title -%}
    Erreur 404
{%- endblock %}

{% block pageheader %}
    <a href="/" class="lead">Retour</a>
{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>Erreur 404</h1>
        <p>
            Cette page n'existe pas.
        </p>
    </div>
{% endblock %}