#RewriteEngine On
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteRule ^ public/index.php [L]
# HTTPD mod_rewrite required
RewriteEngine on
# If file/directory's present, serving it directly
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
# Else, redirecting the request to the index.php file
RewriteRule . index.php